:root{
    --clr-gradient: linear-gradient(90deg, #2D6FFB 0%, #A42BFF 100%);
    --clr-light: white;
    --clr-grey: rgb(250, 250, 250);
    --clr-text: rgb(87, 84, 84);
    --clr-boxShadow: 0 4px 8px rgba(0,0,0,0.1);
    --clr-darkmode-light: #11193f;
    --clr-darkmode-dark: #0c1535;
}
body{
    margin: 0;
    padding: 0;
    font-family: "faculty Glyphic", sans-serif;
}
p{
    line-height: 1.6rem;
    color: var(--clr-text);
}
section{
    padding: 5rem 2rem;
    text-align: center;
}
hr{
    width: 5rem;
    border: none;
    height: 5px;
    background: var(--clr-gradient);
}
.light-mode {
    background-color: #ffffff;
    color: #000000;
}


/* DARK MODE STYLES */


.dark-mode {
  background-color: #1e1e1e;
  color: white;
}

.dark-mode .nav-container {
  background-color: var(--clr-darkmode-dark);
}

.dark-mode a {
  color: white;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode p {
  color: white;
}
.dark-mode .hero-section, .dark-mode .skills-section, .dark-mode .contact-section {
    background-color: var(--clr-darkmode-dark);
}
.dark-mode .about-section, .dark-mode .project-section {
    background-color: var(--clr-darkmode-light);
}
.dark-mode .skills-card, .dark-mode .project-card, .dark-mode .form-box {
  background-color: #2f344d;
  box-shadow: 0 4px 8px rgba(15, 15, 41, 0.911);
}
.dark-mode .about-achievement p {
  color: white;
}
.dark-mode .skills-list div {
  background-color: #272a42;
  color: white;
}
.dark-mode .form-input input,
.dark-mode .form-input textarea {
  background-color: #444;
  color: white;
  border: 1px solid #555;
}
.dark-mode .contact-me .icon {
  background-color: #2f344d;
  box-shadow: 0 4px 8px rgba(15, 15, 41, 0.911);
}
.dark-mode .about-achievement img , .dark-mode .social-media, .dark-mode .drop-down-arrow , .dark-mode .footer-navbar img {
  filter: brightness(0) invert(1);
}
.dark-mode .contact-btn a{
  color: white;
}

/* .dark-mode hr {
  background: white;
} */

/* .dark-mode .icon-box img {
  filter: brightness(0) invert(1);
} */



                            /* NAVIGATION BAR */


.nav-container{
    background-color: white;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-shadow: var(--clr-boxShadow);
    z-index: 1000;

}
.nav-right{
    position: relative;
    display: flex;
    gap: 30px;
    align-items: center;
    width: fit-content;
}
a{
    text-decoration: none;
    color: var(--clr-text);
}
.list{
    
    display: flex;
    list-style-type: none;
    gap: 30px;
    
}
.nav-right img{
    width: 20px;
}
.nav-right button{
    padding: 7px;
    border: none;
    border-radius: 10px;
    background-color: var(--clr-text);
}
.light-btn{
    display: none;
    
}
.hamburger-btn{
    background-color: transparent;
    display: none;
}


/* HERO SECTION */

.hero-section{
    background-color: var(--clr-grey);
    padding-top: 10rem;
    padding-bottom: 2rem;
}
.welcome , .hero-article span{
    color:#2D6FFB;
}
.hero-article button{
    margin: 30px 10px;
    padding: 15px;
    border: 1px solid rgb(75, 67, 67);
    border-radius: 10px;
    font-weight: bold;
}
.project-btn{
    background: var(--clr-gradient);
}
.project-btn a {
    color: white;
}
.contact-btn{
    background: transparent;
}
.contact-btn a {
    color: black;
}
.social-media button{
    padding: 0;
    margin: 20px 10px;
    border: none;
    cursor: pointer;
    background: none;

}

.social-media img{
    width: 25px;
}
.drop-down-arrow{
    width: 20px;
    padding-top: 80px;
}


/* ABOUT SECTION */

.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
    padding: 50px 0;
    flex-basis: content;
}
.about_content{
    max-width: 500px;
    text-align: justify;
}
.my_image{
    max-width: 500px;
    width: 100%;
    height: 500px;
    border-radius: 40px;
}
.about-achievement{
    display: flex;
    padding-top: 30px;
    gap: 30px;
    justify-content: space-around;
    align-items: center;


}
.about-achievement img{
    width: 40px;
}
.about-achievement p{
    text-align: center;
    font-size: 0.8rem;
    width: 40px;
}


/* SKILLS SECTION */
.skills-section{
    background-color: var(--clr-grey);
}
.skills-container{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.skills-card{
    flex: 1 1 300px;
    height: auto;
    background-color: white;
    border-radius: 20px;
    text-align: left;
    padding: 20px;
    box-shadow: var(--clr-boxShadow);
}
.skills-card img{
    width: 30px;
    filter: brightness(0) invert(1);
    
}
.icon-box{
    width: fit-content;
    padding: 10px;
    border-radius: 15px;
}
.skills-list{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.skills-list div{
    background-color: var(--clr-grey);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.7rem;
    font-weight: bold;
}
.icon1{
    background: linear-gradient(90deg, #2D6FFB 0%, #779fe9 100%);
}
.icon2{
    background: linear-gradient(90deg, #fb2dc7 0%, #e977b0 100%);
}
.icon3{
    background: linear-gradient(90deg, #2dfb7c 0%, #17b81f 100%);
}
.icon4{
    background: linear-gradient(90deg, #fb6e2d 0%, #db5d14 100%);
}
.skills-card:hover{
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}


/*PROJECT SECTION */

.project-container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.project-card{

    text-align: left;
    flex: 1 1 300px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    border: none;

}
.project-card img{
    width: 100%;
    height: 200px;
    
    padding-bottom: 30px;
    object-fit: cover;
    display: block;
    transition: transform 0.5s ease;
}
.project-card:hover{
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
.project-card:hover img{
    transform: scale(1.1);
}
.project-info{
    padding: 10px 20px 20px 20px ;
}

.project-card span{
    font-size: 0.8rem;
}
.project-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.project-list div{
    border: 1px solid rgb(175, 174, 174);
    width: fit-content;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 0.8rem;
    font-weight: bold;
}

/* CONTACT SECTION */

.contact-section{
    background-color: var(--clr-grey);
}
.contact-container{
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    
}
.contact-info{
    flex: 1 1 500px;
    text-align: left;
}
.contact-me{
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: left;
    width: 150px;
    margin-bottom: 10px;
}
.contact-me img{
    width: 20px;
}
.contact-me .icon{
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: var(--clr-boxShadow);
}
.contact-me a:hover{
    color: rgb(12, 12, 117);
}
.contact-form{
    flex: 1 1 300px;
}
.form-box{
    border-radius: 20px;
    background: white;
    border: none;
    box-shadow: var(--clr-boxShadow);
}
.form-input{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;
    gap: 10px;
}
input, textarea{
    margin-bottom: 20px;
    border: none;
    background: var(--clr-grey);
    border-radius: 10px;
    padding: 10px;
}
.form-input button{
    margin: 20px 0 0;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: var(--clr-gradient);
    color: white;
    font-weight: bold;
}


.footer-section{
    background-color: rgb(1, 3, 24);
    padding: 40px 20px;
    text-align: center;
}
.footer-section hr{
    width: 80%;
    height: 2px;
    background: var(--clr-text);
    margin: 50px auto;
}
.footer-navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50%;
    align-items: center;
    text-align: left;
}

.footer-navbar button{
    padding: 15px;
    border-radius: 10px;
    background: var(--clr-gradient);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}
.footer-navbar img{
    width: 20px;
    filter: brightness(0) invert(1);
}

/* MEDIA QUERY */

@media (max-width: 765px){
    .hamburger-btn{
        position: relative;
        display: inline-block;
        z-index: 2000;
    }
    .list{
        display: none;             
        flex-direction: column;   
        position: absolute;       
        top: 100%;                
        left: auto; 
        right: 0;   
        background-color: #fff;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        gap: 15px;
        z-index: 1000;
    }
    .dark-mode .list {
        background-color: #121212;
        border: 1px solid white;
    }
    .list.show-menu{
        display: flex;
    }
    .about-container{
        flex-direction: column;
    }
    .my_image{
        max-width: 95%;
    }
    .about_content{
        max-width: 95%;
    }

}

